[Unit]
Description=Rackconnect Crewchief
Requires=proc-xen.mount
After=proc-xen.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=crewchief

[Install]
WantedBy=multi-user.target
