[Unit]
Description=Rackconnect Crewchief
After=network.target
Requires=proc-xen.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=crewchief

[Install]
WantedBy=multi-user.target
