[Unit]
Description=rcrun
Requires=proc-xen.mount
After=proc-xen.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rcrun

[Install]
WantedBy=multi-user.target
